name: Android Release Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5"
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter generate icon
        run: flutter pub run flutter_launcher_icon

      - name: Build release APK
        run: flutter build apk --release --android-skip-build-dependency-validation

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
